.card {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 1px 0px 20px 0px rgba(201, 201, 201, 0.45);

  & img {
    display: block;
    width: 350px;
    border-radius: 7px;
    margin-right: 15px;
  }
  & video {
    // display: block;
    width: 450px;
    border-radius: 7px;
    margin-right: 15px;
  }

  & .cardText {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    & p {
      display: block;
    }
    & span {
      font-weight: 700;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #333;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  & h4 {
    color: #ccc;
    margin: 0;
    padding-top: 7px;
  }
  & h5 {
    font-weight: 400;
    color: #bbb;
  }
}
.cardWrapper {
  display: flex;
}
.cardAction {
  & a {
    color: #777;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: #fd4c00;
      transition: all 0.3s ease-in-out;
    }
  }
}
