.MenuToggle {
  position: fixed;
  top: 40px;
  left: 40px;
  font-size: 40px;
  cursor: pointer;
  color: #bababa;
  z-index: 100;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fd4c00;
    transition: all 0.2s ease-in-out;
  }
  &.open {
    left: 320px;
  }
}
